.text-center {
  text-align: center !important;
}

.sub-title {
  font-family: 'Comic Sans MS';
}

.input-detail {
  padding: 0.5rem;
  background: #d7d7d7;
  font-size: 1rem;
  margin-bottom: 2rem;
  transition: all 0.3s;

  .add-todo {
    position: relative;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    background: none;
    border: none;
    border-left: 1px solid white;
    float: right;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 50%, #d7d7d7 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    font-weight: 300;
    transition: all .1s;
  }

  .add-todo:hover {
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    color: #2c3e50;
    background-position: left bottom;
  }

  .todo-field {
    padding: 0.5rem;
    font-size: 1rem;
    width: 80%;
    background: none;
    border: none;

    &:focus {
      outline: 0;
    }
  }
}

.completed {
  text-decoration: line-through;
  color: grey;
}

// .input-detail:focus-within {
//   box-shadow: 0 2px 2px rgba(60, 60, 60, 0.4) !important;
// }

// .input-detail:hover {
//   box-shadow: 0 2px 5px rgba(60, 60, 60, 0.2);
// }

.row-wrapper {
  position: relative;
  width: 100%;
  max-width: 95%;
  margin: 0 auto 1rem auto;
}

.todo-checkbox {
  padding: 2px;
}

.todo-detail {
  margin-left: 10px;
  padding: 2px;
}

.todo-detail-edit {
  padding: 2px;
  margin-left: 10px;
  width: 80%;
}

.todo-closeBtn {
  position: absolute;
  right: 0;
  line-height: 1;
  font-family: "Comic Sans MS";
  cursor: pointer;
}

.todo-closeBtn:hover {
  color: red;
}