<h1 class="text-center title">To-Do App</h1>
<p class="text-center sub-title">This is a simple demo of Todo, built with angular</p>
<div class="todo-container">

    <form class="input-detail">
        <button (click)="addTodo()" class="add-todo">ADD</button>
        <input name="detail" type="text" class="todo-field" (keyup.enter)="addTodo()" [(ngModel)]="newTodo.detail"
            placeholder="Add new task">
    </form>

    <div class="item" *ngFor="let todo of myTodo; let i=index">

        <div class="row-wrapper" *ngIf="todo.isCompleted">
            <input class="todo-checkbox" type="checkbox" checked disabled>

            <span class="todo-detail completed">{{todo.detail}}</span>

            <span class="todo-closeBtn" (click)="deleteTodo(i)">x</span>
        </div>

        <div class="row-wrapper" *ngIf="!todo.isCompleted">
            <input class="todo-checkbox" type="checkbox" [(ngModel)]="todo.isCompleted">

            <span class="todo-detail" *ngIf="!todo.isEditing" (dblclick)="startEditing(i)">{{todo.detail}}</span>

            <span *ngIf="todo.isEditing">
                <input class="todo-detail-edit" type="text" autofocus (blur)="stopEditing(i)"
                    (keyup.enter)="stopEditing(i)" [(ngModel)]="todo.detail">
                <span class="todo-closeBtn" (click)="stopEditing">ok</span>
            </span>

            <span *ngIf="!todo.isEditing" class="todo-closeBtn" (click)="deleteTodo(i)">x</span>
        </div>
    </div>
    <hr>

    <div>
        <span class="action-btn" (click)="checkAll()">Check all</span>
        <span class="action-btn" (click)="deleteCompleted()">Delete completed</span>
    </div><br>

</div>