.container {
    max-width: 450px;
    margin: 0 auto;
    background: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}


body {
    font-family: Helvetica, Arial, sans-serif;
    color: #2c3e50;
    margin-top: 60px;
    background: tomato;
}

//vardana
//Georgia
//Comic Sans MS
//Helvetica